body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F4F4;
}
.onlyMobile{
    display: none;
}
#appBarThingie{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    z-index: 100;
}
#confessionListGridDiv{
    margin-top: 100px
}
#universityListDesktop{
    position: fixed;
    left: 0;
    max-height: 100vh;
    overflow-y: overlay;
}
#universityListDesktop::-webkit-scrollbar {
    display: none;
}
#desktopSideList{
    margin-top: 60px;
}
#sendInLink{
    position: fixed;
    width: 25%;
    right: 0;
    bottom: 2%;
}
#sendInLink a{
    text-decoration: none;
}
#sendInIcon{
    fill:#42A5F5 !important;
    margin-top: -6px;
}
.postClass{
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    min-height: 150px;
    margin-bottom: 50px;
}
.cardFooter{
    position: absolute;
    bottom: 0;
    right: 16px;
    width: 58%;
}
.cardFooter p{
    font-size: 15px;
    color: #909090;
    text-align: right;
    padding-left: 5px;
    margin: 1px;
}
.universitySpan{
    padding-right: 10px;
}
.posttextp{
    white-space: pre-wrap;
    margin-bottom: 100px;
}
.openNewTab{
    position: absolute;
    top: -14px;
    right: -11px;
}
.sharebuttonsDiv{
    position: absolute;
    left: 3px;
    bottom: 3px;
    z-index: 5;
    width: 45%;
}
.facebookShareButton{
    margin-right: 3px;
}
.twitterShareButton{

}
.whiteIcons{

}
.facebookIcon{
    color:#3B5998
}
.twitterIcon{
    color:#00ACED
}
.facebookShareButton button:hover i{
    color: white;
}
.twitterShareButton button:hover i{
    color: white;
}
.timePost{
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 10px;
    color: #909090;
    text-align: right;
    padding-left: 5px;
}
#sendInWrapper{
    margin: auto;
    width: 40%;
    margin-top: 80px;
}
#bottomSendInForm{
    width: 100%;
    text-align: right;
}
#aliasInputForm{

}
#sendInFormButtonDiv{
    position: absolute;
    bottom: 0;
}
#sendInForm{
    position: relative;
}
#h1SendIn{
    color: #42A5F5;
}
#onePostWrapper{
    margin-top: 80px;
}
.posttextpNotFound{
    font-style: italic;
}
#facebookLikeButtonDiv{
    position: fixed;
    top: 100px;
    right: 0;
    width: 25%;
}
/*
-----BetaThings
*/
#betaDiv{
transform: rotate(47deg);
z-index: 1000;
background-color: #26A69A;
width: 178px;
height: 38px;
position: fixed;
top: 6px;
right: -55px;
text-align: center;
}
#betaP{
color: white;
font-size: 28px;
position: fixed;
top: -26px;
right: 47px;
}
